#eat {
  background-color: #2DB5AD;
  border: 1px solid red;
  height: 512px;
  width: 720px;
}

.card {
  margin: auto;
  margin-top: 50px;
  color: white;
}

#eat img {
  height: 150px;
  width: 150px;
  margin: auto;
}
